doctype html
head
    include partials/header.pug
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Agua

body
    include partials/nav.pug
    .containerText
        form
            .form-col
                h5
                    | Responsable del registro actual:
                    p
        // Pregunta 1
        .form-group.col-md-6
            label(for='pregunta1') 1. &iquest;Cuenta el inmueble con medidores de consumo de agua potable?
            .custom-control.custom-radio
                input#opcionSi_1.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionSi_1') Si
            .custom-control.custom-radio
                input#opcionNo_1.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionNo_1') No
            label(for='pregunta1_1') &iquest;Cuenta con copia de los recibos?
            .custom-control.custom-radio
                input#opcionSi_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionSi_1_1') Si
            .custom-control.custom-radio
                input#opcionNo_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionNo_1_1') No
        // Pregunta 2
        .form-group.col-md-6
            label(for='pregunta2') 2. Ingresa el consumo aproximado por bimestre de los ultimos a&ntilde;o
            table.table
                thead
                    tr
                        th(scope='col')
                        th(scope='col') 1er Bimestre
                        th(scope='col') 2do Bimestre
                        th(scope='col') 3er Bimestre
                        th(scope='col') 4to Bimestre
                        th(scope='col') 5to Bimestre
                        th(scope='col') 6to Bimestre
                tbody
                    tr
                        th(scope='row') 2021
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                    tr
                        th(scope='row') 2020
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                    tr
                        th(scope='row') 2019
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
        // Pregunta 3
        .form-group.col-md-6
            label(for='pregunta3')
                | 3. &iquest;Cuenta el inmueble con infraestructura para la captaci&oacute;n y
                | aprovechamiento de las aguas pluviales en usos espec&iacute;ficos?
            .custom-control.custom-radio
                input#opcionSi_3.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionSi_3') Si
            .custom-control.custom-radio
                input#opcionNo_3.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionNo_3') No
        // Pregunta 4
        .form-group.col-md-6
            label(for='pregunta4')
                | 4. &iquest;Cuenta su inmueble con alguna planta para el tratamiento de las aguas
                | residuales, para su reuso en procesos asociados, eliminando su vertido al sistema de
                | alcantarillado o a las aguas superficiales.(Descarga Cero)?
            .custom-control.custom-radio
                input#opcionSi_4.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionSi_4') Si
            .custom-control.custom-radio
                input#opcionNo_4.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionNo_4') No
            label(for='pregunta4') En caso de haber seleccionado &quot;Si&quot;, describir las caracter&iacute;sticas
            input#pregunta4.form-control(type='text' placeholder='Indique su respuesta')
        // Pregunta 5
        .form-group.col-md-6
            label(for='pregunta5')
                | 5. Indique el avance estimado del equipamiento del sistema hidr&aacute;ulico de
                | su DP, con dispositivos y componentes ahorradores de agua.
            .custom-control.custom-radio
                input#opcion100_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion100_5') 100 %
            .custom-control.custom-radio
                input#opcion75_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion75_5') 75 %
            .custom-control.custom-radio
                input#opcion50_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion50_5') 50 %
            .custom-control.custom-radio
                input#opcion25_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion25_5') 25 %
            .custom-control.custom-radio
                input#opcion0_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion0_5') Nada
        // Pregunta 6
        .form-group.col-md-6
            label(for='pregunta6')
                | 6. Indique el volumen de agua tratada (m&sup3;) que su DP emplea para riego de
                | las &aacute;reas verdes
            input#pregunta6.form-control(type='text' placeholder='m³')
        // Pregunta 7
        .form-group.col-md-6
            label(for='pregunta7')
                | 7. Proporci&oacute;n en que se han integrado mecanismos de control autom&aacute;tico y
                | sistemas de riego, alimentados con agua tratada.
            .custom-control.custom-radio
                input#opcion100_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion100_7') 100 %
            .custom-control.custom-radio
                input#opcion75_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion75_7') 75 %
            .custom-control.custom-radio
                input#opcion50_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion50_7') 50 %
            .custom-control.custom-radio
                input#opcion25_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion25_7') 25 %
            .custom-control.custom-radio
                input#opcion0_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion0_7') Nada
// footer
include partials/footer.pug