doctype html
head
    include partials/header.pug
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Agua
// Poner Graficos para bimestres Pregunta 2 para comparar años
body
    include partials/navSesion.pug
    p
        h2 
            | Formulario de Agua
    .containerText
        form
            .form-col.containerPregunta
                h5
                    | Responsable del registro actual:
                    p
        // Pregunta 1
        // Si contesta "No" habilitar opción múltiple 
        // - Estimo el consumo según # de descargas de sanitarios y uso de lavabos
        // - Estimo el consumo según el tiempo de riego
        .form-group.col-md-6.containerPregunta
            label(for='pregunta1') 1. &iquest;Cuenta el inmueble con medidores de consumo de agua potable?
            .custom-control.custom-radio
                input#opcionSi_1.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionSi_1') Si
            .custom-control.custom-radio
                input#opcionNo_1.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionNo_1') No
                p
            // En caso de elegir "Si" Desplegar esta pregunta
            label(for='pregunta1_1') &iquest;Cuenta con copia de los recibos?
            // Poner un pop up  si contesta "NO" "En el area metropolitana solicitar a la dirección de servicios generales dserviciosgrales@ipn.mx"
            .custom-control.custom-radio
                input#opcionSi_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionSi_1_1') Si
            .custom-control.custom-radio
                input#opcionNo_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionNo_1_1') No
        // Pregunta 2 
        // PopUp Si no cuenta con los registros de consumo exactas estimar segun los usuarios e intensidad de consumo
        .form-group.col-md-6.containerPregunta
            label(for='pregunta2') 2. Ingresa el consumo estimado por bimestre de los ultimos a&ntilde;os
            table.table
                thead
                    tr
                        th(scope='col')
                        th(scope='col') 1er Bimestre
                        th(scope='col') 2do Bimestre
                        th(scope='col') 3er Bimestre
                        th(scope='col') 4to Bimestre
                        th(scope='col') 5to Bimestre
                        th(scope='col') 6to Bimestre
                tbody
                    tr
                        th(scope='row') 2022
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                    tr
                        th(scope='row') 2021
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                    tr
                        th(scope='row') 2020
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
                        td
                            input#pregunta2.form-control(type='text' placeholder='L')
        // Pregunta 3
        .form-group.col-md-6.containerPregunta
            label(for='pregunta3')
                | 3. &iquest;Cuenta el inmueble con infraestructura para la captaci&oacute;n y
                | aprovechamiento de las aguas pluviales en usos espec&iacute;ficos?
            .custom-control.custom-radio
                input#opcionSi_3.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionSi_3') Si
            .custom-control.custom-radio
                input#opcionNo_3.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionNo_3') No
        // Pregunta 4
        .form-group.col-md-6.containerPregunta
            label(for='pregunta4')
                | 4. &iquest;Cuenta su inmueble con alguna planta para el tratamiento de las aguas
                | residuales, para su reuso en procesos asociados, eliminando su vertido al sistema de
                | alcantarillado o a las aguas superficiales.(Descarga Cero)?
            .custom-control.custom-radio
                input#opcionSi_4.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionSi_4') Si
            .custom-control.custom-radio
                input#opcionNo_4.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionNo_4') No
            label(for='pregunta4') En caso de haber seleccionado &quot;Si&quot;, describir las caracter&iacute;sticas
            input#pregunta4.form-control(type='text' placeholder='Indique su respuesta')
        // Pregunta 5
        .form-group.col-md-6.containerPregunta
            label(for='pregunta5')
                | 5. Indique el avance estimado del equipamiento del sistema hidr&aacute;ulico de
                | su DP, con dispositivos y componentes ahorradores de agua.
            .custom-control.custom-radio
                input#opcion100_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion100_5') 100 %
            .custom-control.custom-radio
                input#opcion75_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion75_5') 75 %
            .custom-control.custom-radio
                input#opcion50_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion50_5') 50 %
            .custom-control.custom-radio
                input#opcion25_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion25_5') 25 %
            .custom-control.custom-radio
                input#opcion0_5.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion0_5') Nada
        // Pregunta 6
        .form-group.col-md-6.containerPregunta
            label(for='pregunta6')
                | 6. Indique el volumen de agua tratada (m&sup3;) que su DP emplea para riego de
                | las &aacute;reas verdes
            input#pregunta6.form-control(type='text' placeholder='m³')
        // Pregunta 7
        .form-group.col-md-6.containerPregunta
            label(for='pregunta7')
                | 7. Proporci&oacute;n en que se han integrado mecanismos de control autom&aacute;tico y
                | sistemas de riego, alimentados con agua tratada.
            .custom-control.custom-radio
                input#opcion100_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion100_7') 100 %
            .custom-control.custom-radio
                input#opcion75_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion75_7') 75 %
            .custom-control.custom-radio
                input#opcion50_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion50_7') 50 %
            .custom-control.custom-radio
                input#opcion25_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion25_7') 25 %
            .custom-control.custom-radio
                input#opcion0_7.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion0_7') Nada
        // Seccion de comentarios        
    h2
        button(type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#privacyButton") Aviso de privacidad

.modal.fade(id='privacyButton' tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Aviso de privacidad
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Este diagn&oacute;stico no tiene validez legal ni oficial alguna, es un ejercicio de sondeo promovido a instancias de esta Coordinaci&oacute;n, buscando establecer una medici&oacute;n de las acciones que sobre estos temas realizan nuestras dependencias polit&eacute;cnicas.
        p
        | AVISO DE PRIVACIDAD 
        br
        | La informaci&oacute;n facilitada para realizar este *DIAGN&Oacute;STICO es de car&aacute;cter personal y privado, únicamente es de uso exclusivo y leg&iacute;timo para validar las respuestas en este diagn&oacute;stico. No se conservara ninguna informaci&oacute;n personal evitando dar otro uso a la misma que no sea la que corresponde a la realizaci&oacute;n y validaci&oacute;n de este ejercicio, seg&uacute;n lo establece la Ley Federal de Protecci&oacute;n de datos personales en posesi&oacute;n de los particulares en su art&iacute;culo 1 y 15.
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar

// footer
include partials/footer.pug