doctype html
head
    include partials/header.pug
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Energ&iacute;a

// Poner Graficos para bimestres Pregunta 2 para comparar años
body
    include partials/navSesion.pug
    p
        h2 
            | Formulario de Energ&iacute;a
    .containerTextEnergia
        form
            .form-col.containerPregunta
                h5
                    | Responsable del registro actual:
                    p
        // Pregunta 1
        // En caso de que "no" desplegar opciones
        // - Estima el consumo según la cantidad de equipos conectados y horas de uso 
        
        .form-group.col-md-6.containerPregunta
            label(for='pregunta1')
                | 1. &iquest;Cuenta el inmueble con medidores de consumo de energ&iacute;a
                | el&eacute;ctrica?
            .custom-control.custom-radio
                input#opcionSi.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionSi') Si
            .custom-control.custom-radio
                input#opcionNo.custom-control-input(type='radio' name='customRadio')
                label.custom-control-label(for='opcionNo') No
        .form-group.col-md-6.containerPregunta
            
            label(for='pregunta1_1') &iquest;Cuenta con copia de los recibos?
            // Poner un pop up  si contesta "NO" "En el area metropolitana solicitar a la dirección de servicios generales dserviciosgrales@ipn.mx"
            .custom-control.custom-radio
                input#opcionSi_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionSi_1_1') Si
            .custom-control.custom-radio
                input#opcionNo_1_1.custom-control-input(type='radio' name='customRadio1_1')
                label.custom-control-label(for='opcionNo_1_1') No
        // Pregunta 2
        // Si no cuenta con los registros de consumo exactas estimar segun los usuarios e intensidad de consumo

        
        .form-group.col-md-6.containerPregunta
            label(for='pregunta2') 2. Ingresa el consumo aproximado por bimestre de los ultimos a&ntilde;o
            table.table
                thead
                    tr
                        th(scope='col')
                        th(scope='col') 1er Bimestre
                        th(scope='col') 2do Bimestre
                        th(scope='col') 3er Bimestre
                        th(scope='col') 4to Bimestre
                        th(scope='col') 5to Bimestre
                        th(scope='col') 6to Bimestre
                tbody
                    tr
                        th(scope='row') 2022
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                    tr
                        th(scope='row') 2021
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                    tr
                        th(scope='row') 2020
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
                        td
                            input#pregunta2.form-control(type='text' placeholder='kW')
        // Pregunta 3
        .form-group.col-md-6.containerPregunta
            label(for='pregunta3')
                | 3. &iquest;Incluye el inmueble(s) la separaci&oacute;n de circuitos y
                | disponibilidad
                | de apagadores para cada uno?
            .custom-control.custom-radio
                input#opcionSiempre.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionSiempre') 100 %
            .custom-control.custom-radio
                input#opcionCasiSiempre.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionCasiSiempre') 75 %
            .custom-control.custom-radio
                input#opcionA_veces.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionA_veces') 50 %
            .custom-control.custom-radio
                input#opcionNunca2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionNunca2') 25 %
            .custom-control.custom-radio
                input#opcionNunca.custom-control-input(type='radio' name='customRadio2')
                label.custom-control-label(for='opcionNunca') 0 %
        // Pregunta 4
        .form-group.col-md-6.containerPregunta
            label(for='pregunta4')
                | 4. &iquest;Se incluye control del sistema de iluminaci&oacute;n, en
                | salones laboratorios y talleres, con apagadores, temporizadores o sensores de
                | movimiento?
            .custom-control.custom-radio
                input#opcionSiempre2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionSiempre2') 100 %
            .custom-control.custom-radio
                input#opcionCasiSiempre2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionCasiSiempre2') 75 %
            .custom-control.custom-radio
                input#opcionA_veces2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionA_veces2') 50 %
            .custom-control.custom-radio
                input#opcionNunca2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionNunca2') 25 %
            .custom-control.custom-radio
                input#opcionNunca2.custom-control-input(type='radio' name='customRadio3')
                label.custom-control-label(for='opcionNunca2') 0 %
        // Pregunta 5
        .form-group.col-md-6.containerPregunta
            label(for='pregunta5')
                | 5. Indique el avance estimado del equipamiento del
                | sistema de iluminaci&oacute;n en
                | salones, cub&iacute;culos, laboratorios, oficinas y talleres, con tecnolog&iacute;as de bajo consumo (y en
                | iluminaci&oacute;n, con l&aacute;mparas LED).
            .custom-control.custom-radio
                input#opcion100.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion100') 100 %
            .custom-control.custom-radio
                input#opcion75.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion75') 75 %
            .custom-control.custom-radio
                input#opcion50.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion50') 50 %
            .custom-control.custom-radio
                input#opcion25.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcion25') 25 %
            .custom-control.custom-radio
                input#opcionNada.custom-control-input(type='radio' name='customRadio4')
                label.custom-control-label(for='opcionNada') Nada
        // Pregunta 6
        .form-group.col-md-6.containerPregunta
            label(for='pregunta6')
                | 6. Indique la proporci&oacute;n en que se han integrado mecanismos de control
                | autom&aacute;tico para sus sistemas de iluminaci&oacute;n exterior en pasillos, &aacute;reas verdes y
                | estacionamiento.
            .custom-control.custom-radio
                input#opcion100_6.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion100_6') 100 %
            .custom-control.custom-radio
                input#opcion75_6.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion75_6') 75 %
            .custom-control.custom-radio
                input#opcion50_6.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion50_6') 50 %
            .custom-control.custom-radio
                input#opcion25_6.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcion25_6') 25 %
            .custom-control.custom-radio
                input#opcionNada_6.custom-control-input(type='radio' name='customRadio5')
                label.custom-control-label(for='opcionNada_6') Nada
        // Pregunta 7
        .form-group.col-md-6.containerPregunta
            label(for='pregunta7')
                | 7. &iquest;Cuenta con estrategias que le permitan monitorear que cumple con los
                | niveles recomendados en materia de las densidades de potencia el&eacute;ctrica y alumbrado de los
                | espacios?
            .custom-control.custom-radio
                input#opcionSi_7.custom-control-input(type='radio' name='customRadio6')
                label.custom-control-label(for='opcionSi_7') Si
            .custom-control.custom-radio
                input#opcionNo_7.custom-control-input(type='radio' name='customRadio6')
                label.custom-control-label(for='opcionNo_7') No
            
        // Pregunta 8
        .form-group.col-md-6.containerPregunta
            label(for='pregunta8')
                | 8. &iquest;Cumple con los niveles recomendados en materia de alumbrado para
                | estacionamientos y espacios abiertos y que cuentan con control de flujo luminoso a zonas de
                | inter&eacute;s?.
            .custom-control.custom-radio
                input#opcionSi_8.custom-control-input(type='radio' name='customRadio7')
                label.custom-control-label(for='opcionSi_8') Si
            .custom-control.custom-radio
                input#opcionNo_8.custom-control-input(type='radio' name='customRadio7')
                label.custom-control-label(for='opcionNo_8') No
        // Caso "No"
        .form-group.col-md-6.containerPregunta
            label(for='pregunta8_No') &iquest;C&oacute;mo prev&eacute; resolver las deficiencias?
            input#pregunta8_No.form-control(type='text' placeholder='Indique su respuesta')
        
        // Pregunta 9
        .form-group.col-md-6.containerPregunta
            label(for='pregunta9')
                | 9. &iquest;En qu&eacute; proporci&oacute;n se ha incluido en las instalaciones, el uso de
                | timers, sensores de movimiento o nuevas tecnolog&iacute;as como luminarias solares?
            .custom-control.custom-radio
                input#opcion100_9.custom-control-input(type='radio' name='customRadio8')
                label.custom-control-label(for='opcion100_9') 100 %
            .custom-control.custom-radio
                input#opcion75_9.custom-control-input(type='radio' name='customRadio8')
                label.custom-control-label(for='opcion75_9') 75 %
            .custom-control.custom-radio
                input#opcion50_9.custom-control-input(type='radio' name='customRadio8')
                label.custom-control-label(for='opcion50_9') 50 %
            .custom-control.custom-radio
                input#opcion25_9.custom-control-input(type='radio' name='customRadio8')
                label.custom-control-label(for='opcion25_9') 25 %
            .custom-control.custom-radio
                input#opcion0_9.custom-control-input(type='radio' name='customRadio8')
                label.custom-control-label(for='opcion0_9') 0 %
        // Pregunta 10
        .form-group.col-md-6.containerPregunta
            label(for='pregunta10')
                | 10. &iquest;En qu&eacute; proporci&oacute;n se ha incluido en las instalaciones el uso de
                | nuevas tecnolog&iacute;as de alimentaci&oacute;n con energ&iacute;a alterna a trav&eacute;s de la instalaci&oacute;n de celdas
                | fotovoltaicas, calentadores y paneles solares?
            .custom-control.custom-radio
                input#opcion100_10.custom-control-input(type='radio' name='customRadio9')
                label.custom-control-label(for='opcion100_10') 100 %
            .custom-control.custom-radio
                input#opcion75_10.custom-control-input(type='radio' name='customRadio9')
                label.custom-control-label(for='opcion75_10') 75 %
            .custom-control.custom-radio
                input#opcion50_10.custom-control-input(type='radio' name='customRadio9')
                label.custom-control-label(for='opcion50_10') 50 %
            .custom-control.custom-radio
                input#opcion25_10.custom-control-input(type='radio' name='customRadio9')
                label.custom-control-label(for='opcion25_10') 25 %
            .custom-control.custom-radio
                input#opcion0_10.custom-control-input(type='radio' name='customRadio9')
                label.custom-control-label(for='opcion0_10') 0 %
        // Seccion para comentarios
    h2
        button(type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#privacyButton") Aviso de privacidad

.modal.fade(id='privacyButton' tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Aviso de privacidad
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Este diagn&oacute;stico no tiene validez legal ni oficial alguna, es un ejercicio de sondeo promovido a instancias de esta Coordinaci&oacute;n, buscando establecer una medici&oacute;n de las acciones que sobre estos temas realizan nuestras dependencias polit&eacute;cnicas.
        p
        | AVISO DE PRIVACIDAD 
        br
        | La informaci&oacute;n facilitada para realizar este *DIAGN&Oacute;STICO es de car&aacute;cter personal y privado, únicamente es de uso exclusivo y leg&iacute;timo para validar las respuestas en este diagn&oacute;stico. No se conservara ninguna informaci&oacute;n personal evitando dar otro uso a la misma que no sea la que corresponde a la realizaci&oacute;n y validaci&oacute;n de este ejercicio, seg&uacute;n lo establece la Ley Federal de Protecci&oacute;n de datos personales en posesi&oacute;n de los particulares en su art&iacute;culo 1 y 15.
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar

// footer
include partials/footer.pug