doctype html
html(lang="en")
    head
        include partials/header.pug
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio Residuos
    body 
        include partials/nav.pug
        .container-sm 
            #carouselCPS.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselCPS' data-slide-to='0')
                    li(data-target='#carouselCPS' data-slide-to='1')
                    li(data-target='#carouselCPS' data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100.h-25(src='/img/logoCPS_slide.jpg' alt='First slide')
                    .carousel-item
                        img.d-block.w-100(src='/img/logoCPS_slide2.jpg' alt='Second slide')
                    .carousel-item
                        img.d-block.w-100(src='/img/logoCPS_slide2.jpg' alt='Third slide')
                a.carousel-control-prev(href='#carouselCPS' role='button' data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only
                a.carousel-control-next(href='#carouselCPS' role='button' data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only

        .container-sm
            .row.containerText
                h2
                    strong
                        | Preguntas Frecuentes
            .row.text-center
                .col-md-6.container-sm
                    strong 
                        | ¿Qué es un plan de manejo ambiental?
                    br
                    | Es un instrumento de programación, que mediante la identificación de áreas de oportunidad y realización de prácticas correctivas, permite cumplir con las premisas de sustentabilidad, a través de estrategias de minimización de la generación de emisiones y descargas que impactan el ambiente, bajo criterios de eficiencia ambiental, tecnológica, económica y social que, para efectos del presente instrumento, se centran en tópicos de agua, energía y Áreas de conservación ecológica en el IPN (AICE).
                .col-md-6.container-sm
                    strong 
                        | ¿Qué es un plan de manejo ambiental?
        .container-sm
            .row.containerText
                h2
                    strong
                        | Contacto
            .row.text-center
                h2
                    strong
                        | Coordinación Politécnica para la Sustentabilidad
                .col-md-6.container-sm
                    p
                        strong 
                            | Biól. Gabriela Chávez Hidalgo 
                        br
                        | Ext. 54458
                    br
                    p 
                        strong 
                            | Biól. Ma. del Pilar M. Herrera García
                        br
                        | Ext. 54457 
                .col-md-6.container-sm
                    p
                        strong 
                            | Ing. Lorena Yañez Godoy
                        br
                        | Ext. 54464
                    br
                    p 
                        strong 
                            | Biól. Verónica Pacheco González
                        br
                        | Ext. 54464 
                h3
                    a(href="mailto:sustentabilidad@ipn.mx") sustentabilidad@ipn.mx
                    a(href="www.sustentabilidad.ipn.mx")    www.sustentabilidad.ipn.mx

        .container-sm
            .row.containerText
                h2
                    strong
                        | Acerca De




// footer
include partials/footer.pug