doctype html
html(lang="en")
    head
        include partials/header.pug
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio Residuos
    body 
        include partials/nav.pug
        .container-sm 
            #{user}
            #carouselCPS.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselCPS' data-slide-to='0')
                    li(data-target='#carouselCPS' data-slide-to='1')
                    li(data-target='#carouselCPS' data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100.h-25(src='/img/logoCPS_slide.jpg' alt='First slide')
                    .carousel-item
                        img.d-block.w-100(src='/img/logoCPS_slide2.jpg' alt='Second slide')
                    .carousel-item
                        img.d-block.w-100(src='/img/logoCPS_slide2.jpg' alt='Third slide')
                a.carousel-control-prev(href='#carouselCPS' role='button' data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only
                a.carousel-control-next(href='#carouselCPS' role='button' data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only

        .container-sm
            .row.containerText
                h2
                    strong
                        | Preguntas Frecuentes

        .container-sm
            .row.containerText
                h2
                    strong
                        | Contacto
            .row.text-center
                h2
                    p
                        strong 
                            | Dr. Héctor Mayagoitia Domínguez  
                h3
                    strong
                        | Coordinación Politécnica para la Sustentabilidad
                    br
                    
                .col-md-6.container-sm
                    p
                        strong 
                            | Biól. Gabriela Chávez Hidalgo 
                        br
                        | Ext. 54458
                    br
                    p 
                        strong 
                            | Biól. Ma. del Pilar M. Herrera García
                        br
                        | Ext. 54457 
                .col-md-6.container-sm
                    p
                        strong 
                            | Ing. Lorena Yañez Godoy
                        br
                        | Ext. 54464
                    br
                    p 
                        strong 
                            | Biól. Verónica Pacheco González
                        br
                        | Ext. 54464 
                
                h3
                    a(href="mailto:sustentabilidad@ipn.mx") sustentabilidad@ipn.mx
                    p
                    a(href="www.ipn.mx/sustentabilidad/")    www.ipn.mx/sustentabilidad/

        .container-sm
            .row.containerText
                h2
                    strong
                        | Acerca De

    h2
        button(type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#privacyButton") Aviso de privacidad

.modal.fade(id='privacyButton' tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Aviso de privacidad
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Este diagn&oacute;stico no tiene validez legal ni oficial alguna, es un ejercicio de sondeo promovido a instancias de esta Coordinaci&oacute;n, buscando establecer una medici&oacute;n de las acciones que sobre estos temas realizan nuestras dependencias polit&eacute;cnicas.
        p
        | AVISO DE PRIVACIDAD 
        br
        | La informaci&oacute;n facilitada para realizar este *DIAGN&Oacute;STICO es de car&aacute;cter personal y privado, únicamente es de uso exclusivo y leg&iacute;timo para validar las respuestas en este diagn&oacute;stico. No se conservara ninguna informaci&oacute;n personal evitando dar otro uso a la misma que no sea la que corresponde a la realizaci&oacute;n y validaci&oacute;n de este ejercicio, seg&uacute;n lo establece la Ley Federal de Protecci&oacute;n de datos personales en posesi&oacute;n de los particulares en su art&iacute;culo 1 y 15.
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar




// footer
include partials/footer.pug