doctype html
html(lang="en")
    head
        include partials/header.pug
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Informaci&oacute;n Operativa

body
include partials/nav.pug
.containerText
    h5.titulos
        | Informaci&oacute;n Operativa
    h3
        | N&uacute;mero de usuarios
    .combineLabelInput.centerForm
        .form-group.row
            label.col-form-label.col-md-3 Personal Docente *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Personal PAAE *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Estudiantes *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Empleados de jardiner&iacute;a y limpieza *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Personal de mando *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Visitantes por d&iacute;a *
            .col-md-2
                input.form-control.h-75.w-75(type="number")
        .form-group.row
            label.col-form-label.col-md-3 Total:
            .col-md-2
                input.form-control.h-75.w-75(type="number" disabled="disabled")

    
//footer
include partials/footer.pug