doctype html
head
  include partials/header.pug
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Informaci&oacute;n General
body
include partials/nav.pug
.containerText
  

// footer
include partials/footer.pug