doctype html
html(lang="en")
    head
        include partials/header.pug
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login - Plataforma CPS
body 
    include partials/navSesion.pug
    .centerLogin
        h1 Iniciar Sesión
        form(action="/login" method="POST")
            .txt_field
                input(type='text' name="usuario" autofocus required)
                span
                label Usuario
            .txt_field
                input(type='password' name="password" required)
                span
                label Contrase&ntilde;a
            input(type='submit' value='Iniciar Sesión')
include partials/footer.pug