// Scrips

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')



footer.main-footer
  .list-info
    .container
      .row
        .col-sm-3
          img.logo_footer(data-v-9e928f9a='' src='https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg' href='/' alt='logo gobierno de méxico' style='max-width: 90%;')
        .col-sm-3
          h5 Enlaces
          ul
            li
              a(href='https://participa.gob.mx' target='_blank' rel='noopener' title='Enlace abre en ventana nueva') Participa
            li
              a(href='https://www.gob.mx/publicaciones' target='_blank' rel='noopener' title='Enlace abre en ventana nueva') Publicaciones Oficiales
            li
              a(href='http://www.ordenjuridico.gob.mx' target='_blank' rel='noopener' title='Enlace abre en ventana nueva') Marco Jur&iacute;dico
            li
              a(href='https://consultapublicamx.inai.org.mx/vut-web/' target='_blank' rel='noopener' title='Enlace abre en ventana nueva') Plataforma Nacional de Transparencia
        .col-sm-3
          h5 &iquest;Qu&eacute; es gob.mx?
          p
            | Es el portal &uacute;nico de tr&aacute;mites, informaci&oacute;n y participaci&oacute;n ciudadana. 
            a(href='https://www.gob.mx/que-es-gobmx') Leer m&aacute;s
          ul
            li
              a(href='https://datos.gob.mx') Portal de datos abiertos
            li
              a(href='https://www.gob.mx/accesibilidad') Declaraci&oacute;n de accesibilidad
            li
              a(href='https://www.gob.mx/privacidadintegral') Aviso de privacidad integral
            li
              a(href='https://www.gob.mx/privacidadsimplificado') Aviso de privacidad simplificado
            li
              a(href='https://www.gob.mx/terminos') T&eacute;rminos y Condiciones
            li
              a(href='https://www.gob.mx/terminos#medidas-seguridad-informacion') Pol&iacute;tica de seguridad
            li
              a(href='https://www.gob.mx/sitemap') Mapa de sitio
        .col-sm-3
          h5
            a(href='https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54') Denuncia contra servidores públicos
          h5 Síguenos en
          ul.list-inline
            li
              a.social-icon.facebook(target='_blank' rel='noopener' title='Enlace abre en ventana nueva' href='https://www.facebook.com/gobmexico' aria-label='Facebook de presidencia')
            li
              a.social-icon.twitter(target='_blank' rel='noopener' title='Enlace abre en ventana nueva' href='https://twitter.com/GobiernoMX' aria-label='Twitter de presidencia')


