nav.navbar.navbar-expand-lg.navbar-light.bg-light.centerText
  .container
    a.navbar-brand(href='#') CPS
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.ml-auto
      ul.navbar-nav
        li.nav-item
          a.nav-link(aria-current='page' href='/inicio') Inicio
        //li.nav-item
          a.nav-link(href='/agua') Agua // Indicador Per capita L/SumPersonas
        //li.nav-item
          a.nav-link(href='/energia') Energ&iacute;a // Indicador Per capita Kw/SumPersonas
        //li.nav-item
          a.nav-link(href='/aice') AICE // Indicador Per capita m^2/SumPersonas LETRO Resultados RESIDUOS
        //li.nav-item
          a.nav-link(href='/infoGeneral') Informaci&oacute;n General
        //li.nav-item
          a.nav-link(href='/infoOperativa') Informaci&oacute;n Operativa
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Iniciar Sesi&oacute;n
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='/login') Iniciar Sesi&oacute;n
            .dropdown-divider
            li
              a.dropdown-item(href='/about') Acerca De 
            li
              a.dropdown-item(href='/contacto') Contacto
            
